
{% extends 'adnav.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'adStyle.css' %}">
{% endblock %}

{% block content %}
<div class="hContainer">
    <div class="row">
        <div class="col">
            {% for model_name in model_names %}
                {% with model_url=model_name|cut:" " %}
                    <div class="card card{{ forloop.counter }}">
                        <h5><a href="{% url 'myApp:admin_panel_detail' model_name=model_url %}">{{ model_name }}</a></h5>
                    </div>
                {% endwith %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
