{% extends 'adnav.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'apdStyle.css' %}">
{% endblock %}

{% block content %}
<div class="hContainer">
    <div class="row">
        <div class="col">
            <h2>{{ model_name|capfirst }} Instances</h2><br><br>
            <ul>
                {% for instance in instances %}
                    <li>
                        <a href="{% url 'myApp:admin_panel_detail_instance' model_name=model_name instance_id=instance.id %}">
                            {{ instance }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
