{% extends 'navigation_bar.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'loStyle.css' %}">
{% endblock %}
{% block content %}
<div class="container loc_container">
    <main class="table">
        <section class="table_header">
            <h1>Safe Areas</h1>
        </section>
        <section class="table_body">
            <table>
                <thead>
                    <tr>
                        <th>Area Name</th>
            <th>Test RMSE</th>
            <th>Safety Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for area_result in area_results %}
                    <tr>
                        <td>{{ area_result.area_name }}</td>
                        <td>{{ area_result.test_rmse }}</td>
                        <td class="status {% if area_result.safety_status == 'Safe' %}safe{% else %}unsafe{% endif %}">{{ area_result.safety_status }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
</div>
{% endblock %}
