{% extends 'navigation_bar.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'emerStyle.css' %}">
{% endblock %}

{% block content %}
<div class="container hContainer"> 
    <div class="row">
        {% for service in emergency_services %}
        <div class="col-md-4 "> <!-- This ensures each service card will take up 4 columns -->
            <a href="{% url 'myApp:serviceprofile' service.id %}">
                <div class="card card{{ forloop.counter }} ">
                    <img src="{{ service.image.url }}" alt="{{ service.service_type }}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ service.service_type }}</h5>
                        <p class="card-text"><strong>Contact Information:</strong> {{ service.contact_information }}</p>
                        <p class="card-text"><strong>Availability:</strong> {{ service.availability }}</p>
                        
                    </div>
                </div>
            </a>
        </div>
        {% if forloop.counter|divisibleby:3 and not forloop.last %}
        </div><div class="row"> 
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
