{% extends 'navigation_bar.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'emerStyle.css' %}">
{% endblock %}
{% block content %}
<div class="hContainer">
    <div class="row">
        <div class="col">
            {% for service in emergency_services %}
                <a href="#">
                    <div class="card card{{ forloop.counter }}">
                        <h5>{{ service.service_type }}</h5>
                        <h4>{{ service.contact_information }}</h4>
                        <strong><p>{{ service.description }}</p></strong>
                        <h4>{{ service.availability }}</h4>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
