{% extends 'navigation_bar.html' %}
{% load static %}
{% block style %}


<link rel="stylesheet" href="{% static 'repStyle.css' %}">

{% endblock %}
{% block content %}
<div class="idk">
    <div class="contact-form">

        <h2>Report Incident</h2>
        <form class="contact" action="" method="post">
            {% csrf_token %}
            <textarea name="message" rows="5" placeholder="Description" required></textarea>
            <input type="datetime-local" name="Time-Stamp" class="text-box" placeholder="Time-Stamp" required>

            <!-- Area Code dropdown -->
            <select name="Area Code" class="text-box" required>
                {% for location in locations %}
                <option value="{{ location.area_code }}">{{ location.area_name }}</option>
                {% endfor %}
            </select>

            <!-- Crime Type dropdown -->
            <select name="Crime Type" class="text-box" required>
                {% for crime_type in crime_types %}
                <option value="{{ crime_type.name }}">{{ crime_type.name }}</option>
                {% endfor %}
            </select>

            <br><label for="Anonymity Status">Anonymity Status</label>
            <input type="checkbox" id="Anonymity Status" name="Anonymity Status">
            <input type="submit" name="submit" class="send-btn" value="Send">
        </form>
    </div>
</div>
<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
$(document).ready(function() {
    $("#reportForm").submit(function(e) {
        e.preventDefault(); // Prevent the default form submission behavior
        
        $.ajax({
            type: "POST",
            url: "{% url 'myApp:report' %}",
            data: $(this).serialize(),
            success: function(response) {
                // Display the message in a popup alert
                alert(response);

                // Optionally, you can clear the form or perform other actions here
                // $("#reportForm")[0].reset();
            },
            error: function(response) {
                alert("An error occurred while processing your request.");
            }
        });

        return false; // Add this line to prevent form submission
    });
});
</script>


{% endblock %}