* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

li{
    list-style: none;

}
nav {
  height: auto;
  background-color: #110d27;
}
.navigation{
 
    color: #fff;
    padding: 20px 0;
    width: 100%;
  padding: 0 7vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu{
    
}
nav .logo {
    display: flex;
    align-items: center;

}

nav .logo img {
    width: 250px;
    height: auto;
    margin-right: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffcc00; /* Yellow color for hover state */
}

footer{
    min-height: 27vw;
}
.stickyFooter {
    background-color: #110d27;
    color: #fff;

    padding: 40px 0;
}

.footerContainer {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 20px;
}

.footerLeft {
    flex: 0 0 50%;
   
    display: flex;
    flex-direction: column;
}
.logo img {
    max-width: 100%;
    height: auto;
    
}


.leftContent {
    color: #fff;
}

.sectionTitle {
    color: #ffcc00; /* Yellow color for titles */
}

.sectionDescription {
    font-size: 16px;
    line-height: 1.6;
}

.footerLeft .leftContent ul li strong{
 margin: 10px 0;
 color: #ff8c69;
}
.footerLeft .leftContent ul li {
 margin: 10px 0;


}


.footerRight {
    flex: 0 0 50%;
    height: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactInfo {
    color: #fff;
}

.contactInfo p {
    margin: 0;
    font-size: 1.1vw;
    line-height: 1.5;
    margin-right: 50px;
}
.socialIcons{
    margin-bottom: 2vw;
    display: flex;
  
    text-align: center;
}

.socialIcons a {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
    font-size: 24px; /* Increase the size of social icons */
}

.footerBottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    background: #000;
 
    padding: 1vw;
}

.designer {
    font-weight: bold;
}

@media (max-width: 768px) {
    .footerContainer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footerLeft,
    .footerRight {
        width: 100%;
    }

    .footerRight {
        margin-top: 20px;
    }

    .footerBottom {
        font-size: 12px;
    }
}
